@font-face {
  font-family: "ToyotaType";
  src: url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.eot"); /* IE9*/
  src: url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.woff")
      format("woff"),
    /* chrome、firefox */
      url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("/fonts/toyota-type/@font-face/5ed8da50826369dfd20fd9e532593c99.svg#Toyota Type")
      format("svg"); /* iOS 4.1- */
}

body {
  font-family: ToyotaType;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #3c3c3c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3c;
  font-family: ToyotaType;
}

/* h1 {
  font-size: 26px;
} */

h2 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 18px;
}

/* 
h3 {
  font-size: 20px;
}
h3.smaller {
  font-size: 18px;
}


h5 {
  font-size: 14px;
}

h5.normal {
  font-size: 14px;
  font-weight: normal;
}

h6 {
  font-size: 12px;
  line-height: 2;
}

.h7 {
  font-weight: bold;
  font-size: 10px;
} */

p.small {
  font-size: 12px;
}

/*========== Links ============*/
.text-link {
  font-size: 12px;
  line-height: 17px;
  color: #58595b;
}

/*============================ Home Page ===============================*/
.default-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.default-page__left {
  background: #fff;
  width: 525px;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  overflow-y: auto;
}

.default-page__left--flat {
  width: 825px;
}

.default-page__left-top {
  display: flex;
  align-items: center;
}
.default-page__left-bottom {
  /* text-align: center; */
  padding-top: 80px;
}
.default-page__right {
  display: flex;
  flex: 1;
  background-color: #eb0a1e;
  background-size: 100% 100%;
  overflow-y: auto;
  position: relative;
}

.default-page__right-container {
  margin: auto;
  width: 98%;
  max-width: 512px;
  padding: 22px 0;
  z-index: 1;
}

.top-right-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.bottom-left-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*============================ Register Tab ===============================*/

.register-tab {
  display: flex;
  justify-content: space-between;
}

.register-tab__item {
  background: #ffffff;
  border: 1px solid #e4e5e7;
  border-radius: 10px;
  padding: 21px 24px;
  font-weight: 600;
  line-height: 20px;
  color: #58595b;
  cursor: pointer;
}

.register-tab__item:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.register-tab__item--active {
  background: #eb0a1e;
  color: #fff;
}
